<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies Recommender System Course</title>
</head>
<body>
<pre>
> Welcome to Building a Recommender System using Python Course
> <strong>by <a href="http://www.instagram.com/profadolfoguimaraes">@profadolfoguimaraes</a></strong>

> To access a recommender use: <strong>http://[your host]/recommender/[user_id]</strong>
> For example, recommender to user 500: <a href="/recommender/500"><strong>http://[your host]/recommender/500</strong></a>

> All information about this course can be found at: <a href="http://www.data2learning.com/cursos" target="_blank">www.data2learning.com/cursos</a>

> Please, send reviews and suggestions to <a href="mailto:adolfo@data2learning.com">adolfo@data2learning.com</a>
</pre>

</body>
</html>